target/
.pg-data/
.pg-sock/
*-old.rs
.old-ref
.old-env

appendonlydir/
.redis_data_backup/
_data_rw/
_data/
dump.rdb
compose.yaml
drizzle/

test-results/
node_modules/

# Output
.output/
.svelte-kit/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/**/.idea
.idea

*.log
.direnv/
.container

grafana/obsv-data/
redis_data/
.redis-backup/
*.old
*.old/

result/
