global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'alloy'
    static_configs:
      - targets: ['alloy:12345']
  
  - job_name: 'tempo'
    static_configs:
      - targets: ['tempo:3200']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
